/* .list {
  max-width: 50rem;
  margin: 2rem auto;
  padding: 1rem;
  table-layout: fixed;
  border-spacing: 1rem;
  text-align: right;
} */

/* .list {
  padding: 1rem;
  max-width: 30rem;
  margin: 2rem auto;
  table-layout: fixed;
  border-spacing: 1rem;
  text-align: center;
  border-radius: 4px;
  background: linear-gradient(180deg, #307e6c, #2b996d);
}

.item {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 0.7rem;
  color: #83e6c0;
}

.result tbody {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.85rem;
  color: #c2e9e0;
} */

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sorting {
  padding-bottom: 1rem;
  border-bottom: 3px solid #b2d4d4;
  margin-bottom: 2rem;
}

.sorting button {
  font: inherit;
  color: teal;
  border: 1px solid teal;
  background-color: transparent;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

.sorting button:hover {
  background-color: #c2fafa;
}
